body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
p{
    color: dimgray;
}
h2{
    margin: 16px 0px;
    
}
.common-section{
    display: flex;
    margin: 0px 150px;
    padding-top: 50px;
    
    
}
.common-section img{
    width: 400px;
    
}

.main-header{
    border-left: 7px solid black;
    border-left-width:2px;
    border-image: linear-gradient(360deg, lightsalmon, tomato);
    border-image-slice: 1;
    font-weight: bolder;
    font-size: 50px;
    padding: 0px 0px 0px 10px;


}
span{
    color: orange;
}
.mission{
    display: block;
    color: orange;
    
}
.common-text-mesure{
    margin: 20px 50px 0px 60px ;
    padding-left: 5%; 
    
}
.common-img-mesure{
    margin: 0px 0px 80px 60px ;
    padding-left: 5%; 
    padding-bottom: 5%;
}
.button{
    text-decoration: none;
    color: white;
    background-color: orange;
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 15px;
    border-radius: 8px;

}
.target{
    text-align: center;
    padding-bottom: 20px;
    font-weight: bolder;
    font-size: 40px;
}
.experince-part{
    margin: 0px 200px;
    padding-bottom: 100px;
    
}
.sec-section{
    display: flex;
    justify-content: center;
    
}
.sec-section img{
    width: 150px;
    height: 150px;
    
}
.experiance1{
    width: 550px;
    height: 400px;
    background-color: lightblue;
    border-radius: 18px;
    margin: 0px 10px 0px 20px;
    padding: 5px 20px 0px 25px;
    
}
.experiance2{
    width: 550px;
    height: 400px;
    background-color: lightpink;
    border-radius: 18px;
    margin: 0px 10px 0px 20px;
    padding: 5px 20px 0px 25px;
    
}
.experiance3{
    width: 550px;
    height: 400px;
    background-color: lightgoldenrodyellow;
    border-radius: 18px;
    margin: 0px 10px 0px 20px;
    padding: 5px 20px 0px 25px;
}
.sec-header{
    font-size: 35px;
}
.communicate{
    background-color: midnightblue;
    margin: 0px 150px;
    border-radius: 10px;
    margin-top: 100px;
    margin-bottom: 100px;
    height: 100px;
    
}
.interest-box{
    display: flex;
    justify-content: space-around;
    
}
.part1{
    margin: 10px 10px 10px 20px;
}
.part2{
    margin: 10px 10px;
    padding: 10px 10px;
}
.part3{
    margin: 20px 10px;
    padding: 20px 0px 0px 10px;
   
}
.connect-with-dev{
    text-decoration: none;
    color: white;
    background: linear-gradient(-45deg, blue, cyan);
    border-radius: 15px;
    padding: 5px 20px;
    
}
#client-maneg{
    color: mintcream;
}
#attract-client{
    color: mintcream;
}
footer{
    text-align: center;
    color: whitesmoke;
    padding-bottom: 20px;
    padding-top: 20px;
}
.last-sec{
    background-color: black;
    padding: 20px 0px 20px 0px;
}
#year{
    color: white;
    text-align: center;
    font-size: 50px;
    margin: 0px;
}